.tabular--wrapper {
  background-color: #fff;
  margin-top: 1rem;
  border-radius: 10px;
  padding: 2rem;
}

.table-container {
  width: 100%;
}


table {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #102447;
  color: #e7b315;
}

th {
  padding: 15px;
  text-align: left;
}
tbody {
  background-color: #f2f2f2;
}
td {
  padding: 15px;
  font-size: 14px;
  color: #333;
}

tr:nth-child(even) {
  background-color: #fff;
}

tfoot {
  background-color: #102447;
  font-weight: bold;
  color: #e7b315;
}
tfoot td {
  background-color: #102447;
  font-weight: bold;
  color: #e7b315;
}

.table-container button {
  color: forestgreen;
  background: none;
  cursor: pointer;
}

td.status-ativo {
  color: black; /* Define a cor do texto como verde */
}
td.status-ativo span {
  padding: 2px 12px;
  background-color: rgba(144, 245, 156, 0.8);
  border-radius: 28px;
  border: solid 1px green;
}

/* Estilo para "Inativo" */
td.status-inativo {
  color: black; /* Define a cor do texto como vermelho */
}

td.status-inativo span {
  background-color: rgba(188, 57, 43, 0.8);
  border-radius: 28px;
  padding: 2px 12px;
  border: solid 1px red;
}

.btn-cadastrar {
  display: inline-block;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
  background: #ffb606;
  color: black;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

.btn-cadastrar i {
  margin-right: 5px; /* Espaço entre o ícone e o texto */
}

.btn-cadastrar:hover {
  background: #b9891a;
  color: black;
}

/* *******************FORMULARIO DE CADASTRO DO ALUNO*************** */

.card {
  width: 100%;
  padding: 20px;
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  text-align: center;
}

.card h2 {
  font-size: 24px;
}

.form-group {
  margin: 10px 0;
  text-align: left;
}

label {
  display: block;
  margin-bottom: 6px;

  font-weight: bold;
}

input,
select {
  width: 100%;
  padding: 10px;
  outline: none;
  font-weight: 400;
  border: none;
  font-size: 17px;
  color: #323232;
  background-color: #ecf2f2f7;
  border-radius: 5px;
}

input[type="submit"] {
  background: #ffb606;
  color: black;
  outline: none;
  border: none;
  font-weight: 500;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}

input[type="submit"]:hover {
  background: #b9891a;
  color: black;
}

.voltar-link {
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
  transition: background-color 0.3s;
  margin-left: -81%;
}
